$fontCustomColor: rgb(48, 54, 31);

$numPages:5; //numero de paginas de l

$customColor: rgb(133, 201, 173);

$customColor1: rgb(231, 214, 204);

$bgCustomColor: rgb(237, 244, 255) ;

$rad-img-box:10px;
$rad-img:30px;